*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
}
#main{
	width: 100%;
	height: 100%;
}
#nav_t{
	width: 100%;
	height: 15%;
}

nav{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;

}
ul{
list-style: none;
}
nav a{
	text-decoration: none;
	color: #fff;
}
#nav_part1{
	display: flex;
	justify-content: space-between;
	width: 50%;
	
}
#pr1_1{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#pr1_2{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30%;
}
#nav_part2{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	padding-left: 30%;
}
#part1{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#txt h2{
font-size: 50px;
font-weight: 600;

}
#inp-btn{
width: 50%;
}
#ent-cv{
	padding-top: 10px;
}
#ent-cv input{
	width: 90px;
	height: 90px;
	border-radius:50%;
	text-transform: uppercase;
	border: none;

}

#ib_inp1{
	width: 90%;
	height: 40px;
	border-radius: 10px;
	padding: 10px;
}




#part2{
	width: 100%;
	height: 90%;
}

.container h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	background-color: rgba(255, 255, 255, 0.5);
}
#part3{
	width: 100%;
	height: 80%;
	display: flex;
	padding: 0% 10%;
}
#part3_job{
	width: 100%;
	height: 95%;
	overflow: scroll;
	background-color: white;
	position: relative;
}
#pt3-txt{
	width: 100%;
	background-color: black;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}
#pt3-txt h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
    text-align: center;
}
#pt3_inemp{
	width: 70%;
	height: 70%;
	background-color: black;
}
#part4{
	width:100%;
	min-height: 80%;
	background-color: #282d31;
	color: #fff;
	padding: 5%;
	line-height: 30px;
}
#part4 h3{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
